@media screen and (max-width:991px){
    .navbar-toggler span{
        display: block;
        width: 1.8rem;
        height: .2rem;
        background-color: #fff;
        margin-top: .6rem;
        position: relative;
}
    .navbar-toggler span::before{
        position: absolute;
        content: '';
        width: .2rem;
        height: .2rem;
        left: -.5rem;
        top: 0;
        background-color: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    .nav-link{
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .nav-link::after{
        width: 0%;
    }
}
@media screen and (max-width:575px){
    .sidenav {
        padding-top: 5rem;
    }
    .sidenav a {
        font-size: 1.8rem;
    }
    #about-section{
        padding: 5rem 0;
    }
    .heading-description{
        margin: 1.5rem 0 0 0;
    }
    #services-section{
        padding: 5rem 0;
    }
    .services{
        height: auto;
    }
    #portfolio-section{
        padding: 5rem 0 8rem 0;
    }
    #faq-section{
        padding: 5rem 0;
    }
    #contact-section{
        padding: 5rem 0;
    }
    .heading{
        font-size: 3.5rem !important;
    }
}
